body{
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.pg-header{
    height: 48px;
    background-color: yellow;
    min-width: 1190px;
    line-height: 48px;
}
.pg-header .loge{
    /*line-height: 48px;*/
    /*background-color: red;*/
    width: 200px;
    border-right: 1px solid white;
    text-align: center;
    font-size: 18px;
    color:green;
}
.pg-header .avater{
    padding: 0 15px;
    position: relative;
}
.pg-header .avater img{
    border-radius: 50%;
}
.pg-header .avater .user-info{
    position: absolute;
    width: 130px;
    top: 48px;
    right: 17px;
    background-color: white;
    z-index: 100;
    display: none;
}
.pg-header .avater:hover .user-info{
    display: block;
}
.pg-header .avater .user-info a{
    display: block;
    text-decoration: none;
    padding: 0;
    border: 1px solid red;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.pg-header .avater .user-info a:hover{
    background-color: grey;
}
.pg-header .rmenus a{
    display: inline-block;
    padding: 0 10px;
    /*color: white;*/
    text-decoration: none;

}
.pg-header .rmenus a:hover{
            background-color: #269abc;
}
.pg-body .menus{
    position: absolute;
    width: 200px;
    top: 48px;
    bottom: 0px;
    left: 0px;
    background-color: orange;
    z-index: 99;
}

.menus a{
     display: block;
     padding: 10px 5px;
     border-bottom: 1px solid #ffffff;
    text-decoration: none;
    text-align: center;
 }

.pg-body .content{
    position: absolute;
    top: 48px;
    left: 200px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;
    min-width: 990px;
    /*background-color: rosybrown;*/
}

