{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<style>#}
{#        .hide{#}
{#            display: none;#}
{#        }#}
{#        .shadow{#}
{#            position: fixed;#}
{#            top:0;#}
{#            right:0;#}
{#            bottom:0;#}
{#            left: 0;#}
{#            background-color: yellow;#}
{#            opacity:0.4;#}
{#            z-index: 999;#}
{#        }#}
{#        .modal{#}
{#            position: fixed;#}
{#            left:50%;#}
{#            top:50%;#}
{#            background-color: white;#}
{#            width: 400px;#}
{#            height: 300px;#}
{#            margin-left: -200px;#}
{#            margin-top: -200px;#}
{#            z-index:1000;#}
{#        }#}
{#    </style>#}
{#<body>#}
{# <h1>学生列表</h1>#}
{#    <div>#}
{#        <a href="/add_student/">添加</a>#}
{#        <a id="addStuModal">对话框添加</a>#}
{#    </div>#}
{#    <table>#}
{#        <thead>#}
{#            <tr>#}
{#                <th>ID</th>#}
{#                <th>学生姓名</th>#}
{#                <th>学生班级</th>#}
{#                <th>操作</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for row in  student_list  %}#}
{#                <tr>#}
{#                    <td>{{ row.id }}</td>#}
{#                    <td>{{ row.name }}</td>#}
{#                    <td>{{ row.title }}</td>#}
{#                    <td style="display: none;">{{ row.class_id }}</td>#}
{#                    <td>#}
{#                    <a href="/del_student/?s_id={{ row.id }}">删除</a>#}
{#                    |#}
{#                    <a class="editStuModal">对话框编辑</a>#}
{#                    |#}
{#                    <a href="/edit_student/?s_id={{ row.id }}">编辑</a>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor  %}#}
{#        </tbody>#}
{#    </table>#}
{##}
{#    <div id="shadow" class="shadow hide"></div>#}
{#    <div id="addModal" class="modal hide">#}
{#        <h2 style="text-align: center;">对话框添加学生</h2>#}
{#        <p>学生姓名：<input id="addStuName" type="text" name="stuName" placeholder="姓名"></p>#}
{#        <p>#}
{#            学生班级：#}
{#            <select id="classId" name="classId">#}
{#                {% for row in class_list %}#}
{#                    <option value="{{ row.id }}">{{ row.title }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </p>#}
{#        <input id="btuAdd" type='button' value="更新">#}
{#        <input class="cancle" type="button" value="取消">#}
{#        <span id="addMsgError"></span>#}
{#    </div>#}
{##}
{##}
{#     <div id="editModal" class="modal hide">#}
{#        <h2 style="text-align: center;">对话框编辑学生</h2>#}
{#        <p>学生姓名：<input class="stuName" type="text" name="stuName">#}
{#                     <input class="studentId" type="text" name="studentId" style="display: none">#}
{#        </p>#}
{#        <p>#}
{#            学生班级：#}
{#            <select class="classId" name="classId">#}
{#                {% for row in class_list %}#}
{#                    <option value="{{ row.id }}">{{ row.title }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </p>#}
{#        <input class="btuEdit" type='button' value="更新">#}
{#        <input class="cancle" type="button" value="取消">#}
{#        <span class="editMsgError"></span>#}
{#    </div>#}
{#<script src="/static/jquery-1.12.4.js"></script>#}
{#<script>#}
{#    $(function () {#}
{#        $('#addStuModal').click(function(){#}
{#            $('#shadow').removeClass('hide');#}
{#            $('#addModal').removeClass('hide')#}
{#        });#}
{#        $('#btuAdd').click(function () {#}
{#            $.ajax({#}
{#                url:'/add_modal_student/',#}
{#                type:'POST',#}
{#                data:{'addStuName':$('#addStuName').val(),'classId':$('#classId').val()},#}
{#                success:function (arg) {#}
{#                    arg = JSON.parse(arg);#}
{#                    if(arg.status){#}
{#                        location.reload()#}
{#                    }else{#}
{#                        $('#addMsgError').text(arg.message)#}
{#                    }#}
{#                }#}
{#            })#}
{#        })#}
{#        $('.cancle').click(function () {#}
{#            $('#shadow').addClass('hide');#}
{#            $('#editModal').addClass('hide')#}
{#            $('#addModal').addClass('hide');#}
{##}
{#        });#}
{#        $(".editStuModal").click(function () {#}
{#            $('#shadow').removeClass('hide');#}
{#            $('#editModal').removeClass('hide');#}
{#            var tds = $(this).parent().prevAll();#}
{#            var studentId = $(tds[3]).text();#}
{#            var stuName = $(tds[2]).text();#}
{#            var classId = $(tds[0]).text();#}
{#            console.log(studentId,stuName,classId);#}
{#            $('.stuName').val(stuName)#}
{#            $('.studentId').val(studentId)#}
{#            $('.classId').val(classId)#}
{#        });#}
{#        $(".btuEdit").click(function () {#}
{#            $.ajax({#}
{#                url:"/edit_modal_student/",#}
{#                type:"POST",#}
{#                data:{"studentId":$(".studentId").val(),"stuName":$('.stuName').val(),"classId":$('.classId').val()},#}
{#                dataType:"JSON",#}
{#                success:function (arg) {#}
{#                    if(arg.status){#}
{#                        location.reload()#}
{#                    }else{#}
{#                        $(".editMsgError").text(arg.message)#}
{#                    }#}
{##}
{#                }#}
{#            })#}
{#        })#}
{#    })#}
{#    #}
{#</script>#}
{#</body>#}
{#</html>#}

{% extends "layout.html" %}

{% block css %}
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            top:0;
            right:0;
            bottom:0;
            left: 0;
            background-color: yellow;
            opacity:0.4;
            z-index: 999;
        }
        .modal{
            position: fixed;
            left:50%;
            top:50%;
            background-color: white;
            width: 400px;
            height: 300px;
            margin-left: -200px;
            margin-top: -200px;
            z-index:1000;
        }
    </style>
{% endblock %}



{% block content %}
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li> >>
      <li class="active">学生管理</li>
    </ol>
    <div style="width: 700px;margin: 20px auto 0">
    <div style="margin: 10px 0">
        <a class="btn btn-primary" href="/add_student/">添加</a>
        <a class="btn btn-success" id="addStuModal">对话框添加</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>学生姓名</th>
                <th>学生班级</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in  student_list  %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.title }}</td>
                    <td style="display: none;">{{ row.class_id }}</td>
                    <td>
                    <a href="/del_student/?s_id={{ row.id }}">删除</a>
                    |
                    <a class="editStuModal">对话框编辑</a>
                    |
                    <a href="/edit_student/?s_id={{ row.id }}">编辑</a>
                    </td>
                </tr>
            {% endfor  %}
        </tbody>
    </table>

    <div id="shadow" class="shadow hide"></div>
    <div id="addModal" class="modal hide">
        <h2 style="text-align: center;">对话框添加学生</h2>
        <p>学生姓名：<input id="addStuName" type="text" name="stuName" placeholder="姓名"></p>
        <p>
            学生班级：
            <select id="classId" name="classId">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </p>
        <input id="btuAdd" type='button' value="更新">
        <input class="cancle" type="button" value="取消">
        <span id="addMsgError"></span>
    </div>


     <div id="editModal" class="modal hide">
        <h2 style="text-align: center;">对话框编辑学生</h2>
        <p>学生姓名：<input class="stuName" type="text" name="stuName">
                     <input class="studentId" type="text" name="studentId" style="display: none">
        </p>
        <p>
            学生班级：
            <select class="classId" name="classId">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </p>
        <input class="btuEdit" type='button' value="更新">
        <input class="cancle" type="button" value="取消">
        <span class="editMsgError"></span>
    </div>
    </div>

    <div class="pagination">
      <ul>
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
{% endblock %}



{% block js %}
<script src="/static/jquery-1.12.4.js"></script>
<script>
    $(function () {
        $('#addStuModal').click(function(){
            $('#shadow').removeClass('hide');
            $('#addModal').removeClass('hide')
        });
        $('#btuAdd').click(function () {
            $.ajax({
                url:'/add_modal_student/',
                type:'POST',
                data:{'addStuName':$('#addStuName').val(),'classId':$('#classId').val()},
                success:function (arg) {
                    arg = JSON.parse(arg);
                    if(arg.status){
                        location.reload()
                    }else{
                        $('#addMsgError').text(arg.message)
                    }
                }
            })
        })
        $('.cancle').click(function () {
            $('#shadow').addClass('hide');
            $('#editModal').addClass('hide')
            $('#addModal').addClass('hide');

        });
        $(".editStuModal").click(function () {
            $('#shadow').removeClass('hide');
            $('#editModal').removeClass('hide');
            var tds = $(this).parent().prevAll();
            var studentId = $(tds[3]).text();
            var stuName = $(tds[2]).text();
            var classId = $(tds[0]).text();
{#            console.log(studentId,stuName,classId);#}
            $('.stuName').val(stuName)
            $('.studentId').val(studentId)
            $('.classId').val(classId)
        });
        $(".btuEdit").click(function () {
            $.ajax({
                url:"/edit_modal_student/",
                type:"POST",
                data:{"studentId":$(".studentId").val(),"stuName":$('.stuName').val(),"classId":$('.classId').val()},
                dataType:"JSON",
                success:function (arg) {
                    if(arg.status){
                        location.reload()
                    }else{
                        $(".editMsgError").text(arg.message)
                    }

                }
            })
        })
    })

</script>
{% endblock %}